.header {
	margin: auto;
	width: 100%;
	margin-bottom: 10px;
	background-color: grey;
	border: none;
	border-radius: 20px;
	color: white;
	text-align: center;
	font-size: 1.5em;
}

.page-container {
	z-index: 0;
	width: 100%;
	height: 100%;
	
}

.nav {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	padding: 0.3em;
	background-color: grey;
	border: none;
	border-radius: 20px;
	z-index: 5;
}

.nav ul {
	border: none;
	border-radius: 20px;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.nav li {
	font-size: 1em;
	display: inline;
	border-right: 1px solid white;
}

.nav li a {
	border: none;
	border-radius: 1em;
	background-color: grey;
	color: white;
	text-align: center;
	padding: 5px 7px;
	text-decoration: none;
}

.nav li a:hover {
	border: none;
	border-radius: 1em;
	background-color: #555;
}

.nav li a:active {
	border: none;
	border-radius: 1em;
	background-color: black;
}

body {
	height: 100%;
	background-image: url(pic.png);
	background-repeat: no-repeat;
	background-size: cover;
}

* {box-sizing:border-box;}

#quiz-container {
	text-align: left;
	font-family: "Arial";
	color: white;
	background-color: black;
	opacity: 0.75;
	max-width: 720px;
	position: relative;
	padding: 10px;
	margin: auto;
	height: auto;
	z-index: 1;
}

#quiz-container {
	width: 50%;
	margin: auto;
}

.submit {
	background-color: lightgreen;
	padding: 0.75em;
	border: none;
	border-radius: 5px;
	position: relative;
	font-weight: bold;
	font-size: 1em;
}

.submit:hover {
	background-color: green;
}

/* Slideshow container */
.slides-container {
	background-color: rgba(0, 0, 0, .5);
	max-width: 1000px;
	position: relative;
	padding: 10px;
	margin: auto;
	height: auto;
	z-index: 1;
}

/* Hide the images by default */
.slide {
	line-height: 20pt;
	width: 75%;
	margin: auto;
	display: none;
}

/* Next & previous buttons */
.prev, .next {
	cursor: pointer;
	top: 50%;
	width: auto;
	margin-top: -30px;
	padding: 0.25em;
	color: white;
	font-weight: bold;
	font-size: 1.5em;
	border-radius: 0 3px 3px 0;
	position: absolute;
	z-index: 10;
}

/* Position the "next button" to the right */
.next {
  	right: 0;
  	border-radius: 3px 0 0 3px;
  	margin-right: 10%;
}

.prev {
	left: 0;
	margin-left: 10%
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  	background-color: rgba(220,220,220,0.8);
}

/* Text */
.text {
	font-family: "Arial";
	color: white;
	font-size: 1em;
	padding: 8px 12px;
	bottom: 1em;
	width: 100%;
	text-align: center;
}

/* Number text (1/4 etc) */
.num {
  color: white;
  font-size: 1em;
  padding: 8px 12px;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
	font-family: "Arial";
	bottom: 10%;
	position: relative;
	cursor: pointer;
	height: 1em;
	width: 1em;
	margin: 0 2px;
	background-color: grey;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active, .dot:hover {
	background-color: white;
}

.footer {
	margin-top: 10px;
	background-color: grey;
	border: none;
	border-radius: 20px;
	color: white;
	width: 100%;
	text-align: center;
	font-size: 1em;
	position: absolute;
	bottom: 0;
}

@media screen and (max-width: 720px) and (max-height: 480px) {
	.slide{
		line-height: 10pt;
	}
	.text {
		font-size: 0.8em;
	}
	.footer {
		font-size: 0.75em;
		border-radius: 10px;
		position: relative;
	}
	.prev, .next {
		font-size: 0.75em;
		margin-top: -15px;
	}
	.dot {
		font-size: 0.5em;
	}
	#quiz-container {
		line-height: 10pt;
		font-size: 0.8em;
	}
}